html, body
{
    margin: 0;
    padding: 0;
}

.wrapper
{
    width: 1000px;
    margin: 100px auto;
}

ul
{
    list-style: none;
    border-top: 1px solid #ABABAB;
    border-bottom: 1px solid #ABABAB;
    text-align: center;
    width: 930px;
    margin: 0 auto;
}

li
{
    display: inline-block;
    font-family: Arial;
    font-size: 18px;
    padding: 10px 45px;
    color: #898989;
}