*
{
    margin: 0;
    padding: 0;
}

.wrapper
{
    margin: 0 auto;
    width: 800px;
    text-align: center;
}

p
{
    color: #323232;
    font-weight: bold;
	font-family: Tahoma;
	font-size: 14px;
}

h1
{
    font-family: Arial;
    font-weight: normal;
    font-size: 34px;
    border-bottom: 2px solid blue;
    margin: 0;
}

img
{
   width: 160px;
   height: 160px;
   margin-top: 20px;
}

.cats
{
    text-align: center;
    margin: 0 auto;
    padding: 35px 24px;
    text-align: center;
}

.jeans
{
    width: 225px;
    height: 225px;
    text-align: center;
    background: url(../images/texture1.jpg) no-repeat;
    float: left;
    border: 1px solid black;
    border-radius: 10px;
}

.best
{
    width: 52px;
    height: 52px;
    border: 2px solid #FFD700;
    border-radius: 12px;
    position: absolute;
    background: #BC8F8F;
    top: -25px;
    right: -25px;
}

.best p
{
    color: #fff;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 14px;
    margin: 8px 0;
}
    
.horror
{
    width: 225px;
    height: 225px;
    text-align: center;
    background: url(../images/texture3.jpg) repeat;
    float: left;
    margin-left: 35px;
    border: 1px solid black;
    border-radius: 10px;
	position: relative;
}

.white
{
    width: 225px;
    height: 225px;
    text-align: center;
    background: url(../images/texture2.jpg) repeat;
    float: left;
    margin-left: 35px;
    border: 1px solid black;
    border-radius: 10px;
}
.clear
{
    clear: both;
}

.cat_button
{
    width: 298px;
    height: 54px;
    background: url(../images/button-over.png) no-repeat;
    margin: 25px auto;
    text-align: center;
}

.cat_button p
{
    padding: 18px 0;
}